import(graph)

export(
  getNameList,
  getCluster,
  getMatrix,
  getNetwork,
  getHashMap,
  broadcast,
  geese,
  getTargetGoose,
  setTargetGoose,
  setSpecies,
  getSpecies,
  showGoose,
  hideGoose,
  testGagglePackage,
 .gaggleNetworkToGraphNEL,
 .graphNELtoGaggleNetwork)
